.wrapper.clearfix
  .side
    .side-header
      .left
        .name
          = link_to "#" do 
            name
      .right
        .make-group
          = link_to "#" do
            g icon
        .edit-user
          = link_to "#" do 
            e icon
    .side-body
      .wrapper
        .group-name
          = link_to "#" do
            g name
        .group-message
          = link_to "#" do
            d message
  .main
    .main-header
      .left
        .group-name
          = link_to "#" do 
            g-name 
        .user-name
          u-name
      .right
        .edit-group
          = link_to "#" do
            e-gruop
    .main-message.clearfix
      .container
        .message-box
          .name
            akifumi
          .date
            2018/11/9
          .comment
            yahoo
    .footer
      .form-box.clearfix
        %input.chat


